body {
    max-width: 800px;
    margin: 0 auto;
    padding:5px;
}
.header {
    margin: 0 auto;
    height: 62px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0px 28px 12px -32px black;
}
.icons {
    width: 23%;
    float: left;
    padding: 2% 4%;
    margin: 1%;
    text-align: center;
    box-shadow: 1px 2px 3px #00000070;
}
.benefits {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.bilde {
    margin: 10px 0;
    max-height: 100px;
}
p{
    margin: 0;
    padding: 5px;
}
h1, h2, h3, h4{
  margin:0;
}
h1 {
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    color: #fe0000;
    text-transform: uppercase;
}
h2 {
    padding: 10px 0;
    font-size: 18px;
}
.akcijas{
    padding-top: 20px;
}
.placeholder {
    width: 100%;
    max-height: 60%;
    overflow: hidden;
    min-height: 50%;
    background: linear-gradient(45deg, #b3b3b3, transparent);
}
.kategorija {
    padding: 0 5px;
    color: white;
    width: fit-content;
    background: #3c3c3c;
    position: absolute;
    top: 55%;
    left: 10px;
    font-size: 16px;
}
.square {
    background: #fe0000;
    width: fit-content;
    line-height: 25px;
    font-size: 15px;
    color: white;
    padding: 2px 5px;
    top: 10px;
    left: 10px;
    height: 10%;
    position: absolute;
}
.circle {
    font-size: 46px;
    background: #03A9F4;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 93px;
    top: -6px;
    right: -6px;
    height: 60px;
    position: absolute;
}
.elements {
    box-shadow: 1px 2px 4px grey;
    border: 2px solid red;
    border-radius: 2px;
    position: relative;
    max-width: 210px;
    height: 250px;
    margin: 0 auto;
}
  .piedavajumi {
      padding: 10px;
  }
  .virsraksts {
      font-size: 15px;
      padding-top: 5%;
      font-weight: 800;
  }
.apraksts{
  padding: 2px;
}
.links{
  color:red;
  text-decoration: underline;
}
.texts{
  padding:5px;
}
